NEXT_PUBLIC_THEME_DIR=ltr
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-SL2JTL4WE7
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your-google-search-console-verification-token
NEXT_PUBLIC_SITE_URL=https://mapxprop.com
NEXT_PUBLIC_LONGDO_MAP_KEY=your-longdo-map-api-key
